/* Estilos gerais */
body {
  font-family: sans-serif;
  margin: 20px;
}
img,
video {
  display: block;
  max-width: 100%;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
}
/**/
/* Estilos das classes */
#slide-elements {
  display: grid;
}
/* Posiciona os elementos do slide agrupados na mesma area*/
#slide-elements > * {
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
}
/* Torna o elemento visivel quando instanciado juntamente com a classe active*/
#slide-elements > .active {
  opacity: 1;
  visibility: visible;
}
/**/
#slide {
  display: grid;
}
/* Posiciona os elementos de controle do slide agrupados por cima dos elementos do slide*/
#slide-controls {
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#slide-controls button {
  opacity: 0;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#slide-elements {
  grid-area: 1/1;
}
